﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="/content/app.css" rel="stylesheet" type="text/css"  />
    
</head>

<body id="patterns-in-action">
    <div id="container">

        @* Header *@

        <div id="header">
            <div id="logo"><a href="/" class="img"></a></div>
            <span>Design Pattern&nbsp;&nbsp;&nbsp;&nbsp;<i style="font-size:60%;">MVC</i></span>
            
        </div>

        @* Subheader *@

        <div id="subheader">
            <div id="subheader-left"></div>
            <div id="subheader-right">
                <span>@Html.BreadCrumbs()</span>
            </div>
        </div>
        <div style="height: 4px; background: #c0ebf2;"></div>

        @* Body *@

        <div id="main-body">

            <table>
                <tr>
                    <td>

                        @*Menu*@

                        <div id="menu">

                            <div id="navcontainer">
                                <ul id="navlist">

                                    @*Home*@

                                    <li><a class="@(ViewBag.Menu == "home" ? "selected" : "")" href="/">home</a></li>

                                    @*Shopping *@

                                    <li><a class="@(ViewBag.Menu == "shopping" ? "selected" : "")" href="/shopping">shopping</a></li>
                                    <li class="indented"><a class="@(ViewBag.Menu == "products" ? "selected" : "")"href="/products">products</a></li>
                                    <li class="indented"><a class="@(ViewBag.Menu == "search" ? "selected" : "")"href="/search">search</a></li>

                                    @* Admin *@

                                    <li><a class="@(ViewBag.Menu == "administration" ? "selected" : "")" href="/administration">administration</a></li>
                                    <li class="indented"><a class="@(ViewBag.Menu == "members" ? "selected" : "")" href="/members">members</a></li>
                                    <li class="indented"><a class="@(ViewBag.Menu == "orders" ? "selected" : "")" href="/orders">orders</a></li>

                                    @* Login/Logout *@

                                    @if (!Request.IsAuthenticated) { 
                                        <li><a class="@(ViewBag.Menu == "login" ? "selected" : "")" href="/login">login</a></li>
                                    } else { 
                                        <li><a href="/logout">logout</a></li>
                                    }
                                </ul>

                            </div>
                        </div>
                    </td>
                    <td>
                        @* Content *@
                        <div id="content">
                            @RenderBody()
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <script src="/scripts/jquery-1.7.1.min.js" type="text/javascript" ></script> 
    @RenderSection("scripts", required: false)
  </body>
</html>
