﻿@{
    ViewBag.Title = "Design Pattern";
}

<h1>Welcome</h1>
    
<!-- image -->
    
<div class="floatright" style="text-align: right;">
    @*<img src="/images/clouds.jpg" alt="" width="162" height="232" style="border:0px" />*@
    <img src="/images/image45.jpg" alt="" width="181" height="212" style="border: 0px" />
</div>
        
<p>
    You are running <i>Design Pattern</i> with <b>ASP.NET MVC</b>. This app
    demonstrates when, where, and how design patterns are 
    used in a modern multi-layered web application.
</p>