﻿@{
    ViewBag.Title = "Shopping";
}

<h1>Shopping</h1>

<p style="width: 600px;">
      This is where users start shopping. They can browse and/or search a catalog 
      of products.  The app demonstrates navigation patterns you find in most apps: searching, filtering, 
      sorting, and master-detail. The master-detail paradigm is demonstrated by product and order pages. 
      The list of products represents the master and the product details page represents the detail. 
      Similarly with orders and order details.
</p>

<br />

<ul>
    <li><a href="/products">Click here</a> to browse products </li>
    <li><a href="/search">Click here</a> to search for products</li>
</ul>

<br />
<br />
