﻿@{
    ViewBag.Title = "Administration";
}

<h1>Administration</h1>

<p>
       Administration pages are password protected and access is restricted to 
       authorized administrators. The new <i>SimpleMembership</i> functionality in 
       .NET 4.5 is great for this purpose. 
       This administration module supports Member and Order management. 
</p>


<ul>
    <li><a href="/members">Click here</a> to maintain members</li>
    <li><a href="/orders">Click here</a> to view orders</li>
</ul>
